<html lang='en'>

  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <script src='https://cdn.tailwindcss.com'></script>
    <link
      rel='stylesheet'
      href='https://unpkg.com/tailwindcss@2.2.19/dist/tailwind.min.css'
    />
    <link
      rel='stylesheet'
      href='https://use.fontawesome.com/releases/v5.3.1/css/all.css'
      integrity='sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU'
      crossorigin='anonymous'
    />
    <link
      rel='icon'
      type='image/svg'
      href='https://s3.amazonaws.com/shecodesio-production/uploads/files/000/042/836/original/favicon.png?1659736309'
    />
    <script src='https://cdn.jsdelivr.net/npm/chart.js'></script>
    <title>Quartz | Project Management Tool</title>
    <link rel='stylesheet' href='/css/jass.css' />
    <link rel='stylesheet' href='/css/style.css' />
  </head>

  <body>

    <header>
      <nav class='bg-gray-800'>
        <div class='max-w-7xl mx-auto px-2 sm:px-6 lg:px-8'>
          <div class='relative flex items-center justify-between h-16'>
            <div class='absolute inset-y-0 left-0 flex items-center sm:hidden'>

            </div>
            <div
              class='flex-1 flex items-center justify-center sm:items-stretch sm:justify-start'
            >
              <div class='flex-shrink-0 flex items-center'>
                <a href='/'>
                  <img
                    class='block lg:hidden h-8 w-auto'
                    src='https://s3.amazonaws.com/shecodesio-production/uploads/files/000/042/836/original/favicon.png?1659736309'
                    alt='quartz'
                  />
                  <img
                    class='hidden lg:block h-8 w-auto'
                    src='https://s3.amazonaws.com/shecodesio-production/uploads/files/000/042/837/original/logo1.png?1659736406'
                    alt='quartz'
                  />
                </a>
              </div>
              <div class='myNav'>
                <div class='flex space-x-4'>
                  <!-- Current: "bg-gray-900 text-white", Default: "text-gray-300 hover:bg-gray-700 hover:text-white" -->
                  {{#if logged_in}}
                    <a
                      href='/dashboard'
                      class='hidden lg:block h-8 w-auto text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium'
                    >Dashboard</a>
                    <a class='block lg:hidden h-8 w-auto' href='/dashboard'>
                      📊
                    </a>
                    <a
                      href='/projects'
                      class='text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium'
                    >Projects</a>
                  {{/if}}

                </div>
              </div>
            </div>
            <div>
              {{#if logged_in}}
                <a
                  class='text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium'
                  href='/profile'
                >Profile</a>
                <button
                  class='text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium'
                  id='logout'
                >Logout</button>
              {{else}}
                <a
                  class='text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium'
                  href='/login'
                >Login</a>
              {{/if}}
            </div>

          </div>
        </div>
      </nav>
    </header>
    <main>
      <!-- Render the sub layout -->
      {{{body}}}
    </main>
    <!-- Render script for logged in users only -->
    {{#if logged_in}}
      <script src='/js/logout.js'></script>
    {{/if}}

  </body>

</html>