
  <figure class="bgImg">
    <div class="bgOpacity">
     <div class="container">
      <div class="row">
     <div class="col-md-6 mt-10">
      <h2 class="loginTitle">Login</h2>

      <form class="form login-form loginForm">
       <div class="form-group">
         <label for="email-login">Email:</label>
        <input class="form-input" type="text" id="email-login" />
        </div>
       <div class="form-group">
        <label for="password-login">Password:</label>
        <input class="form-input" type="password" id="password-login" />
       </div>
      <div class="form-group">
        <button class="w-full flex items-center justify-center px-8 py-3 border border-transparent text-base font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 md:py-4 md:text-lg md:px-10" type="submit">Login</button>
      </div>
    </form>
  </div>
  <div class="col-md-6 mt-10">
    <h2 class="signupTitle">Signup</h2>

    <form class="form signup-form signupForm">
      <div class="form-group">
        <label for="name-signup">Name:</label>
        <input class="form-input" type="text" id="name-signup" />
      </div>
      <div class="form-group">
        <label for="email-signup">Email:</label>
        <input class="form-input" type="text" id="email-signup" />
      </div>
      <div class="form-group">
        <label for="password-signup">Password:</label>
        <input class="form-input" type="password" id="password-signup" />
      </div>
      <div class="form-group">
        <button class="w-full flex items-center justify-center px-8 py-3 border border-transparent text-base font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 md:py-4 md:text-lg md:px-10" type="submit">Signup</button>
      </div>
    </form>
  </div>
</div>
</div>
</div>
</figure>


<script src="./js/login.js"></script>
