:root {
  --primary-color: #4f45e4;
}

nav a {
  font-size: 20px;
  text-decoration: none !important;
}
.myNav {
  margin-left: 20px;
}
/* Login Page */

.bgImg {
  background-image: url('https://s3.amazonaws.com/shecodesio-production/uploads/files/000/042/839/original/pexels-fauxels-3184298.jpeg?1659740125');
  background-size: cover;
  height: 100vh;
  width: 100%;
}
.bgOpacity {
  background-color: rgb(255, 255, 255, 0.6);
  height: 100vh;
}
.loginTitle,
.signupTitle {
  font-size: 35px;
  font-weight: bolder;
  text-align: center;
  color: var(--primary-color);
}

.loginForm {
  padding: 10px;
  border-radius: 4px;
  color: var(--primary-color);
}
.signupForm {
  padding: 10px;
  border-radius: 4px;
  color: var(--primary-color);
}

/* Profile Page */

.profileTitle {
  font-size: 35px;
  color: var(--primary-color);
  margin-top: 20px;
}

.profileSubtitle {
  font-size: 25px;
}
.projectDeadline {
  border: 1px solid gray;
  padding: 10px;

  border-radius: 4px;
  font-family: sans-serif;
  padding-left: 20px;
  padding-right: 20px;
}

.currentProjects {
  color: var(--primary-color);
  padding: 10px;
}
.currentProjects a:hover {
  text-decoration: none;
  background-color: var(--primary-color);
  color: white;
  padding: 10px;
  border-radius: 4px;
}

/* Dashboard Page */

.bg-black-alt {
  background: #191919;
}
.text-black-alt {
  color: #191919;
}
.border-black-alt {
  border-color: #191919;
}

/* Projects Page */
.projectCard {
  background-color: rgb(248, 240, 251);
  padding: 20px;
  margin-top: 10px;
  font-size: 16px !important;
  border-radius: 10px;
}

.createdCard {
  text-align: right;
}
.projectCardTitle {
  background-color: var(--primary-color);
  color: white;
  margin-top: 10px;
  border-radius: 4px;
  text-align: center;
}
.t1 {
  border-left: 1px solid whitesmoke;
  border-right: 1px solid whitesmoke;
  padding: 10px;
}

.updateBtn {
  font-size: 20px;
}

/* Project Id Page */
.createdProject {
  text-align: right;
}
.projectId {
  border: 1px solid gray;
  padding: 40px;
  border-radius: 14px;
}
.customizedForm {
  padding-left: 25px;
}
